<div id="gallery">
  <div class="img">
    <img src="images/pair1.jpg" alt="Pair1" width="110" height="90">
      <p>Here's a pair of glasses!</p>
  </div>
  <div class="img">
    <img src="images/pair2.jpg" alt="Pair2" width="110" height="90">
      <p>Here's another pair!</p>
  </div>
  <div class="img">
    <img src="images/pair3.jpg" alt="Pair3" width="110" height="90">
      <p>And another!</p>
  </div>
  <div class="img">
    <img src="images/pair4.jpg" alt="Pair4" width="110" height="90">
      <p>And yet another!</p>
  </div>
  <div class="img">
    <img src="images/pair5.jpg" alt="Pair5" width="110" height="90">
      <p>Anddddd another</p>
  </div>
  <div class="img">
    <img src="images/pair6.jpg" alt="Pair6" width="110" height="90">
      <p>Anddddd another</p>
  </div>
  <div class="img">
    <img src="images/pair7.jpg" alt="Pair7" width="110" height="90">
      <p>Anddddd another</p>
  </div>
  <div class="img">
    <img src="images/pair8.jpg" alt="Pair8" width="110" height="90">
      <p>Anddddd another</p>
  </div>
  <div class="img">
    <img src="images/pair9.jpg" alt="Pair9" width="110" height="90">
      <p>Anddddd another</p>
  </div>
  <div class="img">
    <img src="images/pair10.jpg" alt="Pair10" width="110" height="90">
      <p>Anddddd another</p>
  </div>
  <div class="img">
    <img src="images/pair11.jpg" alt="Pair11" width="110" height="90">
      <p>Anddddd another</p>
  </div>
  <div class="img">
    <img src="images/pair12.jpg" alt="Pair12" width="110" height="90">
      <p>Anddddd another</p>
  </div>
</div>