<div class="img">
  <img src="images/pair1.jpg" alt="Pair1" width="110" height="90">
</div>
<div class="desc">Here's a pair of glasses!</div>
<div class="img">
  <img src="images/pair2.jpg" alt="Glasses" width="110" height="90">
<div class="desc">Here's another pair of glasses!</div>
<div class="img">
  <img src="images/pair3.jpg" alt="Glasses" width="110" height="90">
<div class="desc">Here's another pair of glasses!</div>
<div class="img">
  <img src="images/pair4.jpg" alt="Glasses" width="110" height="90">
</div>
<div class="desc">And another!</div>
<div class="img">
  <img src="images/pair5.jpg" alt="Glasses" width="110" height="90">
</div>
<div class="desc">Just one more for now!</div>



