<div id="collection"<h1>The Winter Collection</h1></div>
<div id="gallery">  
  <div class="img">
    <img src="images/pair1.jpg" alt="Pair1" width="110" height="90">
      <p class="name">The Selena</p>
<<<<<<< HEAD
      <p>$230</p>
=======
      <p class="price">$230</p>
>>>>>>> 175e2dc5ad469fad05fb76b78fabba03452d0e54
  </div>
  <div class="img">
    <img src="images/pair2.jpg" alt="Pair2" width="110" height="90">
      <p class="name">The Margaret</p>
      <p class="price">$400</p>
  </div>
  <div class="img">
    <img src="images/pair3.jpg" alt="Pair3" width="110" height="90">
      <p class="name">The Sally</p>
      <p class="price">$300</p>
  </div>
  <div class="img">
    <img src="images/pair4.jpg" alt="Pair4" width="110" height="90">
      <p class="name">The Georgina</p>
      <p class="price">$250</p>
  </div>
  <div class="img">
    <img src="images/pair5.jpg" alt="Pair5" width="110" height="90">
      <p class="name">The Josephine</p>
      <p class="price">$185</p>
  </div>
  <div class="img">
    <img src="images/pair6.jpg" alt="Pair6" width="110" height="90">
      <p class="name">The Anne</p>
      <p class="price">$230</p>
  </div>
  <div class="img">
    <img src="images/pair7.jpg" alt="Pair7" width="110" height="90">
      <p class="name">The Madame</p>
      <p class="price">$345</p>
  </div>
  <div class="img">
    <img src="images/pair8.jpg" alt="Pair8" width="110" height="90">
      <p class="name">The Dorothy</p>
      <p class="price">$250</p>
  </div>
  <div class="img">
    <img src="images/pair9.jpg" alt="Pair9" width="110" height="90">
      <p class="name">The Susie</p>
      <p class="price">$300</p>
  </div>
  <div class="img">
    <img src="images/pair10.jpg" alt="Pair10" width="110" height="90">
      <p class="name">The Juliana</p>
      <p class="price">$230</p>
  </div>
  <div class="img">
    <img src="images/pair11.jpg" alt="Pair11" width="110" height="90">
      <p class="name">The Lisa</p>
      <p class="price">$300</p>
  </div>
  <div class="img">
    <img src="images/pair12.jpg" alt="Pair12" width="110" height="90">
      <p class="name">The Stephanie</p>
      <p class="price">$200</p>
  </div>
</div>