 #loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 1;
  }
  .loader-curtain {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222;
    z-index: 1000;
  }


#preload-line,
#preload-words {
  color: #c7c7c7;
  font-size: 90px;
  font-family: sans-serif;
  display: inline-block;
  position: relative;
  z-index: 1001;
}


.loaded {
  }
  #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  }
  
  #loader-wrapper {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s 0.2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.5s 0.2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  }
  
  #preload-line,
  #preload-words {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  }
}

#preload-words .fadeIn,
#preload-words .fadeOut {
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
  -webkit-animation-delay: 0s;
  -animation-delay: 0s;
}






body{
  margin: 0;
}

nav{
  position: absolute;
  right: 20px;
  margin-top: 20px;

}
nav li a:hover{
  color: #FF9900;
  background-color: #333;
  
  -moz-transform: rotate(45deg) translate(0px) scale(1.1) skew(7deg,7deg);
  -webkit-transform: rotate(45deg) translate(0px) scale(1.1) skew(7deg,7deg);
  transform: rotate(45deg) translate(0px) scale(1.1) skew(7deg,7deg);
  z-index: 1000;
}

a {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3em;
}

a:visited {
  color: #7A2952;
}

nav ul li{
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;


}

#logo{
  float: left;
  font-family: 'Abril Fatface', cursive;
  color: #fff;

}

header{
  background-color: #666666;
  width: 100%;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

#cat_eyes {
  text-align: center;
}


footer{
  text-align: center;

}


