body{
  margin: 0;
}

nav{
  position: absolute;
  right: 20px;


}

nav li a{
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  border-radius: 5px;
  width: 70px;
  padding: 8px 30px;
  display: inline-block;  
  border:2px solid white;

  
  
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease-in-out;
}
nav li a:hover{
  color: #fff;
  background-color: #886666;
  border:2px solid white;
  
  -moz-transform: rotate(45deg) translate(0px) scale(1.1) skew(7deg,7deg);
  -webkit-transform: rotate(45deg) translate(0px) scale(1.1) skew(7deg,7deg);
  transform: rotate(45deg) translate(0px) scale(1.1) skew(7deg,7deg);
  z-index: 1000;
}

a {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3em;
  color:#ffffff;

}


a:hover{
    color:#886666;
}




nav ul li:hover{

  background-color: #886666;
  color: #000;

}

nav ul li{
  display: inline-block;
  margin-right: 80px;
  text-decoration: none;
  width:70px;
  padding:6px;
  text-align:center;
  /*color:#886666;*/
  color:#ffffff;

 
}

#logo {
  float: left;
  font-family: 'Abril Fatface', cursive;
  color: #fff;
  letter-spacing: 4px;
  font-size: 1.3em;
}


#logo h1{
    margin: 10px 0 0 20px;
    border-bottom:2px dotted white;

}

header{
  background-color: #886666;
  width: 100%;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

#cat_eyes {
  text-align: center;
  height:400px;
  margin-top: 60px;
}
#cat_image {
 opacity:0;
  width:5%;
  /*display:none;*/
}

#our_story{
  margin-left: 185px;
  width:850px;

  margin-top: -75px;
  padding-bottom: 50px;

}
 
 #our_story h2{
    color:#dd6666;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 1.6em
     line-height: 25px;
 }

 #our_story p{
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 25px;
 }

form {
  width: 50%;
  margin: 10% auto;
  min-width: 9rem;
}
  
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
  
  &[type=submit] {
    background: $green;
    color: #fff;
    width: auto;
    float: right;
  }

  &::placeholder {
    color: darken(#f9f9f9, 50%);
  }

  &.error {
    background: $red;
    color: #fff;
    &::placeholder {
      color: darken($red, 60%);
    }
  }
}
textarea {
  height: 10rem;
}
input[name=question] {
    width: 4rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: right;
    padding-right: 0;
  }

// Generic Styles ;)
* {
  box-sizing: border-box;
}
/*******FOOTER******/

footer{
  text-align:center;
  clear: both;
  height:50px; 
}

/********IMG GALLERY********/

#collection{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  margin-top: 45px;
  text-align: center;
  clear: both;

}

.img {
    margin: 30px;
    padding:15px;
    height: 175px;
    width: 140px;
    float: left;
    text-align: center;
    display: inline;
    border: solid 1px gray;
}

#gallery {
    margin-top:35px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;   
    padding-bottom:30px;
    height: 800px;
    margin-bottom: 60px;


}

.price{
  font-family: 'Roboto Condensed', sans-serif;
  color:#dd6666;;
}
.name{
  font-family: 'Roboto Condensed', sans-serif;
}


